.button[disabled],
button[disabled] {
  cursor: not-allowed;
}

.button:hover,
.button:active {
  color: $button-hover-color;
}

.button {
  background-color: transparent;
  border: 2px  solid white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  padding: 1px 1rem 1px;
  text-transform: uppercase;

  @media screen and (max-width: $tablet) {
    height: auto;
    padding: 0.25rem 2rem;
    white-space: normal;
    width: 100%;
  }
}

.button.is-small {
  border-radius: 5px;
  font-size: 1rem;
  padding: 1.25rem 2rem 1.25rem;
}

.button.is-text {
  border-radius: 0;
  text-decoration: none;
  margin-bottom: calc(0.375em);
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.button.is-text:hover,
.button.is-text:active,
.button.is-text:focus {
  background-color: initial;
}

.button.is-primary {
  background-color: $cyan;
}

.button.is-purple {
  background-color: $purple;
  border: none;
  color: white;
}

.button.is-info {
  background-color: lighten($info, 15%);
  border: 2px solid white;
}

.button.is-info:hover,
.button.is-info:focus {
  background-color: lighten($info, 20%);
  border: 2px solid white;
}

.button.is-purple:hover {
  background-color: lighten($purple, 10%);
  border: none;
  color: white;
}

.button.is-primary:hover,
.button.is-primary:focus,
.button.is-primary:active {
  background-color: lighten(saturate($cyan, 100%), 10%);
}

.is-copy-button {
  color: lighten($text, 30%);
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.625rem;
}

.is-copy-button:hover {
  color: $text;
}

.button,
button {
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  transform: translateY(0);
  transition: all 150ms ease-out;
  will-change: box-shadow, transform;
}

.button:hover:not(.is-text),
button:hover:not(.is-text) {
  box-shadow: 0 9px 15px rgba(50, 50, 93, .15), 0 4px 7px rgba(0, 0, 0, .12);
  transform: translateY(-2px);
  transition: all 150ms ease-in-out;
}

.button:active:not(.is-text),
button:active:not(.is-text),
.button:focus:not(.is-text),
button:focus:not(.is-text) {
  box-shadow: 0 9px 15px rgba(50, 50, 93, .03), 0 4px 7px rgba(0, 0, 0, .05);
  transform: translateY(0);
  transition: all 150ms ease-in-out;
}

.button svg {
  height: 18px;
  margin-right: 0.5rem;
  width: 23px;
}